    <div id="spaceFooter">
        <footer class="footer">
            <div class="container" >
                <h6 class="pull-right">Elisabeth Rosentel 2016</p>
            </div>
        </footer>    
    </div>    
    </div>
    </body>
</html>