<% include ./partials/header %>

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <h1>Mason Maven Salads
            <small class="pull-right" id="tagline">where the combinations are endless.</small>
            </h1>
        </div>
        <div class="row">
            <a class="btn btn-lg btn-success pull-right" href="/recipes">View All Recipes</a>
        </div>
    </div>
</div>

        

<% include ./partials/footer %>